.main-nav {
  position: relative;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__item {
  width: 100%;
  min-height: 26px;

  padding: 15px 15px;

  border-bottom: 1px solid #678fa8;
  background-color: $btn-color-bg;
}

.main-nav__link {

  vertical-align: middle;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  font-family: $alternate-font-bold;
  color: $alternate-color;

}
