$base-color-bold: #000000;
$base-color-reg: #333333;
$base-color-bg: #ffffff;
$base-font: "PT Sans", "Tahoma", sans-serif;
$btn-color-bg: #81b3d2;
$alternate-color: #ffffff;
$alternate-font-bold: "PT Sans Bold", "Tahoma", sans-serif;
