.booking {
  padding-left: 20px;
  padding-right: 20px;
  &__title {
    margin: 0;
    padding-top: 32px;
    margin-bottom: 16px;

    font-family: $font-bold;
    color: $base-color-bold;
    font-size: 21px;
    line-height: 26px;
  }
  &__description {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;

    line-height: 24px;
  }
  &__btn {
    display: block;

    width: 280px;
    margin: 0 auto;
    margin-bottom: 50px;

    font-size: 21px;
    line-height: 58px;
    text-transform: uppercase;
    font-family: $font-bold;
    color: $secondary-color;
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .booking {
    &__title {
      margin-bottom: 30px;
      padding-top: 56px;

      font-size: 30px;
    }
    &__btn {
      width: 457px;

      margin: 0 auto;
      margin-bottom: 58px;
    }
    &__description {
      width: 462px;

      margin-bottom: 42px;
    }
  }
}

@media (min-width: $desktop-width) {
  .booking {
    &__btn {
      margin-bottom: 65px;
    }
    &__description {
      margin-bottom: 47px;
    }
  }
}
