.main-nav {
  &__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;

    background-color: $btn-background;
    border: none;
  }
  &__close-btn svg{
    fill: $secondary-color;
  }
}

.btn {

  &--large {
    height: 58px;
    border: none;
  }
  &--blue {
    background-color: #81b3d2;
    &:hover {
      background-color: #669ec0;
    }
    &:active {
      color: #94b9d2;
      background-color: #5496bd;
    }
    &:disabled {
      background-color: #e5e5e5;
    }
  }
}
