.main-nav {
  &__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    background-color: $btn-background;
    border: none;
  }
  &__close-btn svg{
    fill: $secondary-color;
  }
}

.btn {

  &--large {
    height: 58px;
    border: none;
  }
  &--blue {
    background-color: #81b3d2;
  }
}
