@media (min-width: $tablet-width)  {
  .content-container {
      padding-left: 60px/$tablet-width*100%;
      padding-right: 60px/$tablet-width*100%;
  }
}

@media (min-width: $desktop-width)  {
  .content-container {
      padding-left: 120px/$desktop-width*100%;
      padding-right: 120px/$desktop-width*100%;
  }
}
