.feedback-form {
  &__item {
    margin-bottom: 20px;
    padding: 20px;

    border: none;
    border-bottom: 1px solid #e5e5e5;
  }
  &__title {
    margin: 0;
    margin-bottom: 25px;

    font-family: $font-bold;
    color: $base-color-bold;
    font-size: 18px;
    line-height: 26px;
  }
  &__image-container {
    position: absolute;
    top: 16px;

    width: 58px;
    height: 58px;

    border-radius: 5px;
    background-color: #f2f2f2;
    &::after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 15px;
      height: 15px;

      border-radius: 100%;
      background-color: #333333;
      transform: translate(-50%, -50%);
    }
    &--radio {
      top: 0;
      border-radius: 100%;
    }
  }
  &__image {
    display: none;
    position: absolute;
    top: 35px;
    left: 20px;
  }
  &__input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &--name {
      flex-wrap: nowrap;
    }
    &--email {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        right: 0;

        width: 58px;
        height: 58px;

        background: url("../img/icon-mail.svg") no-repeat;
        background-position: center;
        background-size: 18px 12px;
        background-color: #e6e6e6;
      }
    }
    &--phone {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 48px;
        right: 0;

        width: 58px;
        height: 58px;

        background: url("../img/icon-phone.svg") no-repeat;
        background-position: center;
        background-size: 18px 12px;
        background-color: #e6e6e6;
      }
    }
  }
  &__input {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;

    font-family: $font-bold;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
    border: none;
    &--email {
      width: 100%;
    }
    &--phone {
      width: 100%;
    }
    &--name {
      margin-left: 20px;
    }
  }
  &__textarea {
    box-sizing: border-box;
    width: 100%;

    padding-left: 20px;

    padding-top: 20px;

    font-family: $font-bold;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
    border: none;
  }
  &__error {
    align-self: flex-end;
    margin-left: 20px;

    line-height: 26px;
    text-transform: none;
    color: #ff5c5c;
  }
  &__btn {
    width: 100%;
    margin: 0 auto;

    font-size: 21px;
    text-transform: uppercase;
    font-family: $font-bold;
    color: $secondary-color;
  }
  &__warning {
    display: none;
  }
  &__label {
    padding-top: 17px;
    &--checkbox {
      position: relative;
      margin-left: 80px;
      margin-bottom: 35px;
      margin-top: 15px;

      font-family: $font-bold;
      color: $base-color-bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: none;
    }
    &--radio {
      margin-left: 75px;
      padding-bottom: 35px;
      padding-top: 15px;

      font-family: $font-bold;
      color: $base-color-bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: none;
    }
    &--email {
      margin-left: 20px;
      padding-bottom: 10px;
    }
    &--phone {
      margin-left: 20px;
      padding-bottom: 10px;
    }
  }
}

input[type="checkbox"]:checked ~ .feedback-form__image {
  display: block;
}
input[type="radio"]:checked ~ .feedback-form__image-container::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      width: 100%;

      margin: 0;
      margin-bottom: 68px;
      padding: 0;

      border-bottom: none;
      &--half-width {
        width: 50%;
        border-top: none;
        align-self: flex-start;
        &:first-child {
          box-sizing: border-box;
          padding-left: (60px/$tablet-width)*100%;
          border-left: 1px solid #dbdbdb;
        }
      }
      &--first {
        order: -1;
      }
    }
    &__title {
      width: 100%;
      margin-bottom: 30px;

      font-size: 21px;
      &--half-width {
        text-align: left;
      }
      &--full-width {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__btn {
      width: 50%;
      margin: 0 auto;
    }
    &__warning {
      display: block;
      align-self: center;
      width: 50%;

      margin: 0 auto;

      text-align: right;
    }
    &__group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    &__input-group {
      justify-content: space-between;
      &--checkbox {
        width: 0.5*100%;
      }
      &--first {
        order: 1;
      }
      &--second {
        order: 2;
      }
      &--third {
        order: 3;
      }
      &--fourth {
        order: 4;
      }
      &--phone {
        width: 100%;
        &::after {
          top: 48px;
        }
      }
      &--email {
        align-self: flex-end;
        width: 100%;
      }
    }
    &__label {
      &--hidden {
        display: block;
        margin-left: 20px;
        padding-bottom: 10px;
      }
    }
    &__header {
      &--tablet-hidden {
        display: none;
      }
    }
    &__error {
        width: 50%;
        order: 1;
        padding-bottom: 10px;
        text-align: right;
    }
    &__input {
        order: 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    &__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__input-group {
      &--checkbox {
        width: 0.25*100%;
      }
      &--half-width {
        width: 0.5*100%;
      }
      &--phone {
        width: (400/960)*100%;
        &::after {
          top: 36px;
        }
      }
      &--email {
        align-self: flex-end;
        width: 50%;
      }
    }
    &__label {
      &--phone {
        margin-left: 0;
        order: 2;
      }
      &--email {
        margin-left: 0;
      }
      &--desktop-hidden {
        display: none;
      }
      &--tablet-hidden {
        display: inline-block;
      }
    }
    &__input {
      &--phone {
        width: (314/400)*100%;

        margin-left: 20px;

        order: 3;
      }
      &--email {
        width: (314/480)*100%;

        margin-left: 20px;
      }
    }
    &__title {
      &--full-width {
        width: 40%;
      }
    }
    &__error {
        width: 100%;
        align-self: center;
        order: 1;
        text-align: center;
      }
    }
  }
