.feedback-form {
  &__item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    border: none;
    border-bottom: 1px solid #e5e5e5;
    &--half-width {
      padding-top: 16px;
    }
  }
  &__group {
    position: relative;
    margin-bottom: 4px;
    &--radio {
      margin-bottom: 19px;
    }
    &--checkbox {
      margin-bottom: 19px;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-family: $font-bold;
    color: $base-color-bold;
    font-size: 18px;
    line-height: 26px;
    &--full-width {
      margin-bottom: 2px;
    }
    &--checkbox {
      margin-bottom: 0;
    }
    &--textarea {
      margin-bottom: 22px;
    }
  }
  &__image {
    display: none;
    position: absolute;
    top: 26px;
    left: -63px;

    width: 26px;
    height: 18px;

    z-index: 10;
  }
  &__input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &--name {
      flex-wrap: nowrap;
    }
    &--email {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        right: 0;

        width: 58px;
        height: 58px;

        background: #e6e6e6 url("../img/icon-mail.svg") no-repeat center;
      }
    }
    &--phone {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 26px;
        right: 0;

        width: 58px;
        height: 58px;

        background: #e6e6e6 url("../img/icon-phone.svg") no-repeat center;
      }
    }
  }
  &__input {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;

    font-family: $font-bold;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    &:hover {
      background-color: #e5e5e5;
    }
    &:focus {
      background-color: #ffffff;
      outline: 4px solid #e5e5e5;
    }
    &--email {
      width: 100%;
    }
    &--phone {
      width: 100%;

      margin-bottom: 0;
    }
    &--name {
      margin-left: 20px;
    }
  }
  &__textarea {
    box-sizing: border-box;
    width: 100%;

    padding-left: 20px;

    padding-top: 20px;

    font-family: $font-bold;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
    border: none;
  }
  &__error {
    align-self: flex-end;
    margin-left: 20px;

    line-height: 26px;
    text-transform: none;
    color: #ff5c5c;
  }
  &__btn {
    width: 100%;
    margin: 0 auto;

    font-size: 21px;
    text-transform: uppercase;
    font-family: $font-bold;
    color: $secondary-color;
  }
  &__warning {
    display: none;
  }
  &__label {
    padding-top: 20px;
    &--checkbox {
      position: relative;
      margin-left: 80px;
      margin-bottom: 22px;
      margin-top: 11px;

      font-family: $font-bold;
      color: $base-color-bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: none;
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: -80px;

        width: 57px;
        height: 57px;

        background-color: #f2f2f2;
        border-radius: 10%;
        &:hover {
          background-color: #e5e5e5;
        }
        &:active {
          background-color: #d5d5d5;
        }
      }
    }
    &--radio {
      position: relative;
      margin-left: 75px;
      padding-bottom: 24px;
      padding-top: 19px;

      font-family: $font-bold;
      color: $base-color-bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: none;
      &::before {
        content: "";
        position: absolute;
        top: 34px;
        left: -75px;

        width: 22px;
        height: 22px;
        z-index: 10;

        border: 17px solid #f2f2f2;
        border-radius: 100%;
        background-color: #f2f2f2;
        transform: translateY(-50%);
      }
    }
    &--email {
      margin-left: 20px;
      padding-bottom: 10px;
    }
    &--phone {
      margin-left: 20px;
      padding-bottom: 10px;
    }
  }
}

input[type="checkbox"]:checked + .feedback-form__label .feedback-form__image {
  display: block;
}
input[type="radio"]:checked ~ .feedback-form__label--radio::before {
  background-color: #333333;
}
.feedback-form__label--radio:hover::before {
  border: 17px solid #e5e5e5;
  background-color: #e5e5e5;
}
.feedback-form__label--radio:active::before {
  border: 17px solid #d5d5d5;
  background-color: #a4a4a4;
}
.feedback-form__label--checkbox:hover::after {
  background-color: #e5e5e5;
}
.feedback-form__label--checkbox:active::after {
  background-color: #d5d5d5;
}
.feedback-form__label--checkbox:active > .feedback-form__image--checkbox {
  fill: #a4a4a4;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      width: 100%;

      margin: 0;
      margin-bottom: 32px;
      padding: 0;

      border-bottom: none;
      &--half-width {
        width: 50%;
        border-top: none;
        align-self: flex-start;
        &:first-child {
          box-sizing: border-box;
          padding-left: (65px/$tablet-width)*100%;
          border-left: 1px solid #dbdbdb;
        }
      }
      &:nth-child(6) {
        display: flex;
      }
      &--first {
        order: -1;
      }
      &--textarea {
        margin-top: 27px;
      }
    }
    &__title {
      width: 100%;
      margin-bottom: 56px;

      font-size: 21px;
      &--half-width {
        text-align: left;
      }
      &--full-width {
        position: relative;
        width: 305px;
        margin-bottom: 6px;
        margin-left: auto;
        margin-right: auto;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: -175px;

          width: 43%;
          height: 1px;

          background-color: #dbdbdb;
        }
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 340px;

          width: 43%;
          height: 1px;

          background-color: #dbdbdb;
        }
      }
      &--checkbox {
        margin-bottom: 20px;
      }
      &--textarea {
        margin-bottom: 57px;
      }
    }
    &__btn {
      width: 50%;
      margin: 0 auto;
    }
    &__warning {
      display: block;
      align-self: center;
      width: 50%;

      margin: 0 auto;

      text-align: right;
    }
    &__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      &--checkbox {
        width: (555px/$tablet-width)*100%;
        margin: 0 auto;
      }
    }
    &__input-group {
      justify-content: space-between;
      &--checkbox {
        justify-content: center;
        width: 50%;
      }
      &--first {
        order: 1;
      }
      &--second {
        order: 2;
      }
      &--third {
        order: 3;
      }
      &--fourth {
        order: 4;
      }
      &--phone {
        width: 100%;
        &::after {
          bottom: 0;
        }
      }
      &--email {
        align-self: flex-end;
        width: 100%;
        &::after {
          bottom: 15px;
        }
      }
    }
    &__label {
      padding-top: 21px;
      &--hidden {
        display: block;
        margin-left: 20px;
        padding-bottom: 10px;
      }
      &--radio {
        padding-top: 18px;
        padding-bottom: 34px;
        &::before {
          top: 31px;
          left: -76px;
        }
      }
      &--checkbox {
        width: 100%;

        margin-left: 0;
        margin-bottom: 24px;
        padding-top: 27px;
        padding-left: 108px;

        text-align: left;
        &::after {
          top: 11px;
          left: 29px;
        }
      }
      &--first {
        padding-left: 83px;
        &::after {
          left: 4px;
        }
      }
      &--third {
        padding-left: 83px;
        &::after {
          left: 4px;
        }
      }
      &--email {
        padding-top: 25px;
      }
    }
    &__image {
      top: 32px;
      left: 47px;
      &--first {
          left: 21px;
      }
      &--third {
          left: 21px;
      }
    }
    &__header {
      &--tablet-hidden {
        display: none;
      }
    }
    &__error {
        width: 50%;
        order: 1;
        padding-bottom: 10px;
        text-align: right;
    }
    &__input {
        order: 2;
        &--email {
          margin-bottom: 15px;
        }
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    &__title {
      &--full-width {
        width: 40%;
        margin-bottom: 37px;
        &::before {

          left: -75%;

          width: 73%;
        }
        &::after {

          left: 102%;

          width: 73%;
        }
      }
      &--first {
        width: 73%;
        text-align: right;
      }
    }
    &__header {
      &--tablet-hidden {
        display: inline;
      }
    }
    &__item {
      &--fullwidth {
        margin-bottom: 47px;
      }
      &:nth-child(4) {
        margin-bottom: 30px;
      }
    }
    &__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &--checkbox {
        width: 100%;
      }
      &--textarea {
        padding-top: 20px;
        margin-bottom: 35px;
      }
    }
    &__input-group {
      &--checkbox {
        width: 0.25*100%;
      }
      &--half-width {
        width: 0.5*100%;
      }
      &--phone {
        width: (400/960)*100%;
      }
      &--email {
        align-self: flex-end;
        width: 50%;
        &::after {
          bottom: 0;
        }
      }
    }
    &__label {
      &--checkbox {
        padding-top: 8px;
      }
      &--phone {
        margin-left: 0;
        padding-top: 18px;
        order: 2;
      }
      &--email {
        margin-left: 0;
        padding-top: 27px;
      }
      &--desktop-hidden {
        display: none;
      }
      &--radio {
        margin-left: 80px;
      }
      &--first {
        padding-left: 80px;
        &::after {
          top: -7px;
          left: 0;
        }
      }
      &--second {
        padding-left: 100px;
        &::after {
          top: -7px;
          left: 19px;
        }
      }
      &--third {
        padding-left: 118px;
        &::after {
          top: -7px;
          left: 35px;
        }
      }
      &--fourth {
        padding-left: 116px;
        &::after {
          top: -7px;
          left: 35px;
        }
      }
    }
    &__input {
      &--phone {
        width: (314/400)*100%;

        margin-left: 20px;

        order: 3;
      }
      &--email {
        width: (314/480)*100%;

        margin-left: 20px;
        margin-top: 8px;
        margin-bottom: 0;

        padding-top: 16px;
        padding-bottom: 16px;
      }
      &--name {
        margin-left: 16px;
      }
    }
    &__image {
      top: 13px;
      left: 17px;
      &--first {
        left: 17px;
      }
      &--second {
        left: 36px;
      }
      &--third {
        left: 54px;
      }
      &--fourth {
        left: 54px;
      }
    }
    &__error {
        width: 100%;
        order: 1;
        padding-left: 86px;
        padding-top: 1px;

        text-align: left;
      }
    }
  }
