
.gallery-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .gallery-wrapper {
    padding-left: (60px/$tablet-width)*100%;
    padding-right: (60px/$tablet-width)*100%;
  }
}

@media (min-width: $desktop-width) {
  .gallery-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
