.gallery {
  width: 280px;
  display: block;

  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
  &__title {
    margin: 0;
    margin-bottom: 35px;
    font-family: $font-bold;
    color: $base-color-bold;
  }
  &__description {
    margin: 0;
  }
}

@media (min-width: 768px)  {
  .gallery {
  width: 445px;
  }

}
