
.gallery-wrapper {
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .gallery-wrapper {
    padding-left: (60px/$tablet-width)*100%;
    padding-right: (60px/$tablet-width)*100%;
  }
}

@media (min-width: $desktop-width) {
  .gallery-item {
    padding: 0;
  }
}
