.gallery-item {
  margin: 0;
  &__image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__title {
    margin-bottom: 12px;
  }
  &__author {
    margin-bottom: 12px;
  }
  &__likes {
    margin-bottom: 20px;
  }
}


@media (min-width: 768px) {
  .gallery-item {
    float: left;
    margin: 0;
    width: 50%;
    &__title {
      text-align: left;
    }
    &__author {
      text-align: left;
    }
    &:first-of-type {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    float: left;
    margin: 0;
    width: 0.3*100%;
    &:first-of-type {
      width: 100%;
    }
  }
}
