.main-footer {

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 23px;
  &__hash-tag {
    display: block;

    margin-bottom: 40px;
    margin-top: 40px;

    font-family: $font-bold;
    color: $base-color-bold;
    font-size: 21px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
  }
  &__social-block {
    margin-bottom: 40px;
    font-size: 0;
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;

    &__logo {
      margin-left: 12px;
    }
  }
}

@media (min-width: $tablet-width)  {
  .main-footer {
    display: flex;
    justify-content: space-between;
    margin-left: (60px/$tablet-width)*100%;
    margin-right: (60px/$tablet-width)*100%;
    padding: 37px 0;
    @include clearfix;
    &__hash-tag {
      align-self: center;
      width: (196/648)*100%;

      margin: 0;

      text-align: left;
    }
    &__social-block {
      width: (256/648)*100%;

      margin: 0;

      text-align: center;
    }
    .copyright {
      align-self: center;
      width: (196/648)*100%;

      margin: 0;

      font-style: normal;
      text-align: right;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    margin-left: 0;
    margin-right: 0;
    &__hash-tag {
      width: (400px/$desktop-width)*100%;
      text-align: center;
    }
    &__social-block {
      width: (400px/$desktop-width)*100%;
    }
    .copyright {
      box-sizing: border-box;
      width: (400px/$desktop-width)*100%;

      padding-right: 44px;
    }
  }
}
