.reason {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 45px;
  &__name {
    margin: 0;
    margin-bottom: 9px;
    padding: 0;

    font-family: $font-bold;
    color: $base-color-bold;
    font-size: 18px;
    line-height: 26px;
  }
  &__number {
    display: block;
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
  }
  &__description {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .reason {
    float: left;

    width: 33.33333333%;
    min-height: 151px;

    text-align: center;
    line-height: 21px;
    box-sizing: border-box;
    &--invert {
      float: right;
    }
  }
}
