
.reason-image {
  height: 260px;

  margin: 0 auto;

  overflow: hidden;
  background-color: #be7a5c;
}


@media (min-width: $tablet-width) {
  .reason-image {
    float: right;

    width: 2/3*100%;
    height: 256px;

    display: flex;
    &__item {
    align-self: flex-start;
    }

    &--invert {
      float: left;
    }
  }
}
