@media (min-width: 321px)  {
  .reason-row {
    width: 100%;
    .reason {
      float: left;

      width: 33.33333333%;
      min-height: 151px;

      text-align: center;
      line-height: 21px;
      box-sizing: border-box;
    }
    .reason-image {
      float: right;

      width: 66.6666667%;
      min-height: 256px;

      margin: 0;

      overflow: hidden;
    }
  }
}
