
.reason-image {

  min-height: 256px;

  margin: 0 auto;

  overflow: hidden;
}


@media (min-width: 768px) {
  .reason-image {
    float: right;

    width: (100%)*2/3;

    &--invert {
      float: left;
    }
  }
}
