.site-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: 321px)  {
  .site-wrapper {
    max-width: 768px;
  }
}

@media (min-width: 768px)  {
  .site-wrapper {
    min-width: 768px;
    max-width: 1200px;
  }
}
