.top-row {
  position: relative;
  min-height: 56px;
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;

    width: 23px;
    height: 23px;

    margin: 0;
    padding: 0;

    transform: translateX(50%);
  }
}

.menu-toggle {
  float:right;
  width: auto;
  margin-top: 17px;
  margin-right: 20px;

  background-color: $base-background;
  border: none;
  &__image {
  fill: $btn-background;
  }
}

@media (min-width: 768px)  {
  .top-row {
    width: 20%;
    position: absolute;
    top: 0;
    left: 50%;

    padding: 15px;

    transform: translateX(-50%);
  &__logo {
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 23px;
    }
  }
  .menu-toggle {
    display: none;
  }
}
