.top-row {
  position: relative;
  min-height: 56px;
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;

    margin: 0;
    padding: 0;

    transform: translateX(-50%);
    z-index: 10;
  }
}

.menu-toggle {
  float:right;
  width: auto;
  margin-top: 17px;
  margin-right: 20px;

  background-color: $base-background;
  border: none;
  &__image {
  fill: $btn-background;
  }
}

@media (min-width: $tablet-width)  {
  .top-row {
    position: static;
    min-height: auto;
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;

    width: 194px;
    height: 95px;
    }
  }
  .menu-toggle {
    display: none;
  }
}
