.video {
  &__title {
    margin: 0;
    margin-bottom: 31px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;

    font-family: $font-bold;
    color: $base-color-bold;
    font-size: 18px;
    line-height: 26px;
  }
  &__description {
    margin-bottom: 37px;

    line-height: 24px;
  }
  &__item {
    width: 280px;
  }
}
